defusedxml==0.4.1
diff-match-patch==20121119
dj-database-url==0.4.2
Django==1.10.5
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-extensions==1.7.5
django-import-export==0.5.1
django-registration-redux==1.4
django-taggit==0.21.3
django-widget-tweaks==1.4.1
hellowebapp-deploy==1.0.2
oauthlib==2.0.1
olefile==0.44
Pillow==4.0.0
psycopg2==2.6.2
python3-openid==3.0.10
requests==2.13.0
requests-oauthlib==0.7.0
six==1.10.0
sqlparse==0.2.2
tablib==0.11.3
waitress==1.0.1
whitenoise==3.2.3
xlwt==1.2.0
